.item {
    margin: 1rem 0;
    background-color: #575757;
    padding: 1rem;
  }
  
  .item header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
   .item header h3{
    margin-right: 20px;
   }
   .price{
    font-weight: bold;
   }
   .itemprice{
    margin-left: 20px;
    font-weight: lighter;
    font-style: italic;
   }

  .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .quantity{
    font-weight: bold;
  }
  .actions {
    display: flex;
    justify-content: flex-end;
    margin: 0.5rem 0;
  }
  
  .actions button {
    background-color: transparent;
    border: 1px solid white;
    margin-left: 0.5rem;
    padding: 0.15rem 1rem;
    color: white;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #4b4b4b;
    color: white;
  }